.deh{
    background-color: #f4f4f4;
}

.big{
    line-height: 175%;
    text-align: justify;
    text-indent: 50px;
    font-size: 20px;
    margin-left: 2cm;
    margin-right: 2cm;
    font-family: Tw Cen MT;
}