<div class="deh">
  <div class="dat">
    <span style="background-color: blue; color: yellow;">
      Date: 26-Feb-2022
    </span>
    <br>
    <span style="background-color: blue; color: yellow;">
      Day Order: No Day Order
    </span>
    <br>
    <br>
  </div>
  <span style="color: red;">
    Early symptoms of Covid-19 -</span>
  <span style="color: blue;">
    Sore throat, dry cough, fever, cold, loss of smell, loss of taste etc. If any of the
    above symptoms are noticed contact emergency helpline.
  </span>
  <br>
  <br>
  <div class="contacts">
    <span style="color: blue;">
      Emergency Contact-
    </span>
    <span style="background-color: #1e90ff; color: white;">
      8521545253
    </span>
    <br>
    <span style="color: blue;">
      Mobile:-
    </span>
    <span style="background-color: #1e90ff; color: white;">
      9789888453 / 9940096012
    </span>
  </div>
  <div class="academiaphoto d-flex justify-content-center m-5">
    <img src="assets/Images/academia-new.jpg" style="height: 200px; width: 300px;">
  </div>
  <div class="srm">
    <p class = big>
      SRM Academia is the Official Student/Parent Portal of SRM's Faculty of Engineering and Technology which aims at
      providing a better experience to the students to access the academic web services. The portal is a gateway to your
      academic information such as attendance, internal marks, timetable, etc.
    </p>
  </div>
  <div class="adc d-flex justify-content-center mt-5 mb-5">
    <img src="assets/Images/adc.png" style="height: 250px; width: 300px;">
  </div>
</div>
